
<div>
  <p style="    background: #673AB7;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -25px;
  padding: 10px;
  text-align: center;
  color: white;">Please Sign In Below</p>
  <p style="  color: #ffffffcf;
  background: #673ab6;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -25px;
  text-align: center;
  font-size: 13px;" >I certify that this Tutoring was completed successfully at the WIU Macomb Proctoring center with the instructions indicated on the Tutor Proctoring directions.
<br>
I understand any acts of suspected academic dishonesty will be reported to the instructor and/or other university officials  
</p>
  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  <mat-grid-list cols="3" rowHeight="1:1" rowHeight="40px" *ngIf="SaveSignBtn!='disable'">
      <mat-grid-tile> <button mat-raised-button color="warn" (click)="ClosePopup()">Cancel</button></mat-grid-tile>
      <mat-grid-tile> <button mat-raised-button color="basic" (click)="ClearTheSign()">Clear</button></mat-grid-tile>
      <mat-grid-tile > <button mat-raised-button color="primary"  (click)="SaveSign()">Save</button></mat-grid-tile>
    </mat-grid-list>
</div>
