<mat-grid-list cols="2" rowHeight="1:1" rowHeight="150%">
    <mat-grid-tile>
<mat-card style="    left: 7%; margin-top: 10px;
width: 70%;position: absolute;top:0" >
<div>
  <mat-form-field class="example-full-width" style="text-align: center;">
    <input matInput placeholder="Star Number"  [(ngModel)]="starNumber">
  </mat-form-field>
  <button style="margin-left: 20px" mat-raised-button color="primary"  (click)="SearchCourse()">Search</button>
</div>
  <div *ngFor="let data of courseDetails">
    <h4 style="text-align:center"> {{data.title}}</h4>
   <span class="c_span"> <span class="c_lable">Instructor:  </span>{{data.instructor}}</span>
   <span class="c_span"> <span class="c_lable">Department:  </span>{{data.department}}</span>
   <span class="c_span"> <span class="c_lable">Section:  </span>{{data.section}}</span>
   
  </div>
 
</mat-card>
<br>
<!-- //*ngIf="courseDetails.length>0" -->

<mat-card   style="    left: 7%;margin-top:-50%;text-align: center;
width: 70%;position: absolute;" *ngIf="courseDetails.length>0">
<span style="color:#939696">Number of Tutoring You want to Schedule</span>
<mat-form-field class="example-full-width" style="text-align: center;margin-top: 6px">
  <input matInput type="number" placeholder="Number of Tutoring sessions"  [(ngModel)]="NumberOfExam">
</mat-form-field>
<button style="margin-left: 20px" mat-raised-button color="primary"  (click)="CreateExamSlot()">Create Tutoring Slot</button>
</mat-card>

</mat-grid-tile>

<mat-grid-tile *ngIf='NumberOfExam>0&&createSlot==1'>
  
<mat-vertical-stepper #stepper linear style="position: absolute;top:0">
  
<div *ngFor="let item of  NumberOfExamAray"  >
  <mat-step label="Tutor {{item}}" [editable]="isEditable" >
    <!-- <mat-label class="exam_form_label">Exam Length</mat-label>
    <mat-select> 
      <mat-option  value="60">
        60 Minute
      </mat-option>
      <mat-option  value="120">
        120 Minute
      </mat-option>
    </mat-select> -->
    <span style="color:#939696">Exam Length(In Minute)</span>
    <mat-form-field class="example-full-width" style="text-align: center;margin-top: 6px">
      <input matInput type="number" placeholder="Enter Number Only" #examTime hint=" Ex.120"[(ngModel)]="ExamTime" required>
    </mat-form-field>
    <br>
    <mat-form-field color="accent" style="margin-top: 20px;">
      <mat-label>Tutoring Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]='picker_1' required>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field color="accent">
      <mat-label>Tutoring Last Date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]='picker_2' required>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-label class="exam_form_label">Tutor Type</mat-label>
    <mat-radio-group aria-label="Exam Type" [(ngModel)]='examType'  style="margin-left: 10px;">
      <mat-radio-button value="Online" >Online</mat-radio-button>
      <mat-radio-button value="Paper"  style="margin-left: 10px;">Paper</mat-radio-button>
      <mat-radio-button value="Both"  style="margin-left: 10px;">Both</mat-radio-button>
    </mat-radio-group>
    <br>
    
    <span style="color:#939696">Tutoring Available Time Between</span>
    <!-- <mat-form-field class="example-full-width" style="text-align: center;margin-top: 6px">
      <input matInput type="time" placeholder="Ex.10 TO 5" #examTime hint=" Ex.120"[(ngModel)]="TimeSlot" required>
     
    </mat-form-field> -->
    <br>
    <!-- <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput type="time" placeholder="StartTime" [(ngModel)]="TimeSlot_Start">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input matInput type="time" placeholder="EndTime" [(ngModel)]="TimeSlot_End">
      </mat-form-field></td>
    </tr></table>
    <br> -->
    <!-- <mat-form-field class="example-full-width">
        <textarea matInput  [(ngModel)]='note' placeholder="Note"></textarea>
      </mat-form-field> -->

      <div class="uk-form-controls">
          <textarea class="uk-textarea" type="text" rows="10" placeholder="Textarea" [(ngModel)]='note' placeholder="Note"></textarea>
         
      </div>
      <br>
   
      <button *ngIf="SaveBtnStatus[item]!='disable';else disableBtn" mat-button  style="margin-left: 20px" mat-raised-button color="primary"   (click)="SaveExam(ExamTime,picker_1,picker_2,examType,note,stepper,'8:00','16:30000',item)">Tutoring Exam {{item}}</button>
 
      <ng-template #disableBtn>
          <button  mat-button  style="margin-left: 20px" mat-raised-button disabled    (click)="SaveExam(ExamTime,picker_1,picker_2,examType,note,stepper,'8:00','16:30000',item)">Tutoring {{item}} Saved</button>
 
      </ng-template>
    </mat-step>
</div>

</mat-vertical-stepper>

</mat-grid-tile>
</mat-grid-list>