<div class="login_form">
  <mat-card class="example-card">
    <mat-card-header style="text-align: center;left: 23px">
      <mat-card-title>Please Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <div class="imgcontainer">
          <img src="https://www.wiu.edu/_resources/_redesign/images/RockySweep.png" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username" required />

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required />
        </div>
      </form>
      <!-- <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Username"
                  [(ngModel)]="username"
                  name="username"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Password"
                  [(ngModel)]="password"
                  type="password"
                  name="password"
                  required
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form> -->
    </mat-card-content>
    <p style="color: red;">{{ errorMessage }}</p>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My First App</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row></mat-toolbar
> -->