<div>
  <mat-card style="    left: 7%; margin-top: 10px;width: 70%;  text-align: center;   margin: 0px 7%;">
    <div>
      <mat-form-field class="example-full-width" style="text-align: center;">
        <input matInput placeholder="User Id" [(ngModel)]="wiuId">
      </mat-form-field>
      <button style="margin-left: 20px" mat-raised-button color="primary" (click)="SearchStudent(wiuId)">Search</button>

    </div>

    <div *ngIf="getStudentName()!='NA'">
      <span class="c_span"> <span class="c_lable">Student Name: </span><span style="font-weight: bold;
font-size: 19px;">{{studentName}}</span></span><br>
      <span class="c_span"> <span class="c_lable">Student Email: </span><span style="font-weight: bold;
font-size: 19px;">{{studentEmail}}</span></span>
      <div class="uk-margin">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="User Mobile Number"
          value="{{StudentMobile}}" [(ngModel)]='StudentMobile'>

        <button mat-mini-fab aria-label="Example icon-button with a heart icon"
          style="margin-left: 20px;background: #607d8b" (click)="UpdateMobile(StudentMobile)">
          <mat-icon>offline_pin</mat-icon>
        </button>
      </div>


      <hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 4%;">



      <mat-grid-list cols="5" rowHeight="1:1" rowHeight="50px" style="    background: #673ab6;
color: white;">
        <mat-grid-tile>Tutor ID</mat-grid-tile>
        <mat-grid-tile>Tutor Name</mat-grid-tile>
        <mat-grid-tile>Term</mat-grid-tile>
        <mat-grid-tile>Tutor Schedule</mat-grid-tile>
        <mat-grid-tile>Book Tutor</mat-grid-tile>
      </mat-grid-list>
      <div *ngFor="let data of studentDetails;let i=index">
        <mat-grid-list class="flex-container" cols="5" rowHeight="1:1" rowHeight="50px" style="font-weight: 200;"
          *ngIf="data.c_title!=''" [ngStyle]="{'background':getBgColor(i)}">
          <mat-grid-tile class="flex-item">Tutor {{data.id}}</mat-grid-tile>
          <mat-grid-tile class="flex-item">{{data.c_title}} <br>{{data.course_short}} ({{data.c_star_id}})
          </mat-grid-tile>
          <mat-grid-tile class="flex-item">{{data.c_term}}</mat-grid-tile>
          <mat-grid-tile class="flex-item">{{data.Exam}}</mat-grid-tile>
          <mat-grid-tile class="flex-item"> <button style="margin-left: 20px" mat-raised-button color="primary"
              style="background-color:#53beef" *ngIf="data.Exam!='No'"
              (click)="BookExam(data.c_title,data.Exam,data.c_star_id,data.course_short,data.examStartDate,data.examEndDate,data.examTime,data.id,data.note)">Book
              Tutor</button></mat-grid-tile>
        </mat-grid-list>

      </div>


    </div>

    <!-- <div *ngFor="let data of courseDetails">
    <h4 style="text-align:center"> {{data.title}}</h4>
   <span class="c_span"> <span class="c_lable">Instructor:  </span>{{data.instructor}}</span>
   <span class="c_span"> <span class="c_lable">Department:  </span>{{data.department}}</span>
   <span class="c_span"> <span class="c_lable">Section:  </span>{{data.section}}</span>
   
  </div> -->

  </mat-card>

</div>
<div *ngIf="getStudentName()!='NA'">
  <mat-card style="    left: 7%; width: 70%;  text-align: center;   margin: 30px 7%;">
    <div>
      Upcoming Tutoring Schedule List
    </div>
    <hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 4%;">

    <mat-grid-list cols="6" rowHeight="1:1" rowHeight="50px" style="    background: #3ab67f;
color: white;">
      <mat-grid-tile>Tutor #</mat-grid-tile>
      <mat-grid-tile>Tutor Name</mat-grid-tile>
      <mat-grid-tile>Tutor Id</mat-grid-tile>
      <mat-grid-tile>Tutor Schedule Date</mat-grid-tile>
      <mat-grid-tile>Tutor Schedule Time</mat-grid-tile>
      <mat-grid-tile>Cancel Tutor</mat-grid-tile>

    </mat-grid-list>
    <div *ngFor="let examData of examReservationData;let i=index">
      <mat-grid-list class="flex-container" cols="6" rowHeight="1:1" rowHeight="50px" style="font-weight: 200;"
        [ngStyle]="{'background':getBgColor(i)}">
        <mat-grid-tile class="flex-item">Tutor {{examData.cid}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{examData.courseName}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{examData.course_short}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{examData.examBookDate}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{examData.StartTime}} To {{examData.EndTime}}</mat-grid-tile>
        <mat-grid-tile class="flex-item" matRipple [matRippleColor]="myColor" uk-toggle="target: #my-id"
          (click)="DeleteExamSchedule(examData.id)"> <img data-src="https://image.flaticon.com/icons/svg/753/753345.svg"
            width="20px" height="20px" uk-img>
        </mat-grid-tile>

      </mat-grid-list>

      <!-- This is the modal -->
      <div id="my-id" uk-modal>
        <div class="uk-modal-dialog uk-modal-body" style="width:33%;border-radius:10px">
          <h2 class="uk-modal-title" style="font-size:20px">Do You really Want to Delete?</h2>

          <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-default uk-modal-close" style="color:white; background: #673AB7"
              (click)='DeleteExamSchedule_Popup()' type="button">Yes</button>
          </p>
        </div>
      </div>

    </div>
  </mat-card>