<div>
  <mat-card
    style="    left: 7%; margin-top: 10px;width: 80%;  text-align: center;   margin: 0px 0%;"
  >
    <span>
      <mat-form-field class="example-full-width" style="text-align: center;">
        <input matInput placeholder="Student Email" [(ngModel)]="email" />
      </mat-form-field>
      <button
        style="margin-left: 20px"
        mat-raised-button
        color="primary"
        (click)="getExamReservation(email, lastName, wiuId, 1)"
      >
        Search
      </button>
    </span>

    <span
      style="margin-left:20px;text-align: center;
        border-left: 1px solid #b3afaf;
        height: 62px;
        padding-left: 20px;"
    >
      <mat-form-field class="example-full-width" style="text-align: center;">
        <input
          matInput
          placeholder="Student Last Name"
          [(ngModel)]="lastName"
        />
      </mat-form-field>
      <button
        style="margin-left: 20px"
        mat-raised-button
        color="primary"
        (click)="getExamReservation(email, lastName, wiuId, 2)"
      >
        Search
      </button>
    </span>
    <br />
    <span>
      <mat-form-field class="example-full-width" style="text-align: center;">
        <input matInput placeholder="Student WIU Id" [(ngModel)]="wiuId" />
      </mat-form-field>
      <button
        style="margin-left: 20px"
        mat-raised-button
        color="primary"
        (click)="getExamReservation(email, lastName, wiuId, 3)"
      >
        Search
      </button>
    </span>
    <div *ngIf="ShowData() == 1">
      <hr
        style="margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;"
      />
      Student Tutoring Reservation Of WIU ID: {{ wiuId }}
      <br />
      <mat-grid-list
        cols="9"
        rowHeight="1:1"
        rowHeight="50px"
        style="    background: #3ab67f;
  color: white;"
      >
        <mat-grid-tile>Tutor Date</mat-grid-tile>
        <mat-grid-tile>Slot</mat-grid-tile>
        <mat-grid-tile>WIU ID</mat-grid-tile>
        <mat-grid-tile>Student Name</mat-grid-tile>

        <mat-grid-tile>Tutor Name</mat-grid-tile>
        <mat-grid-tile>Tutor ID</mat-grid-tile>
        <mat-grid-tile>Check In</mat-grid-tile>
        <mat-grid-tile>Check Out</mat-grid-tile>
        <mat-grid-tile>Cancel</mat-grid-tile>
      </mat-grid-list>

      <div *ngFor="let examData of examReservationData; let i = index">
        <mat-grid-list
          class="flex-container"
          cols="9"
          rowHeight="1:1"
          rowHeight="70px"
          style="font-weight: 200;"
        >
          <mat-grid-tile style="margin-top: 0%;">{{
            examData.examBookDate
          }}</mat-grid-tile>
          <div
            *ngIf="
              SetSlot(examData.StartTime, examData.EndTime) != 3;
              else blankSlot
            "
          >
            <mat-grid-tile class="flex-item"
              >{{ examData.StartTime }} To {{ examData.EndTime }}</mat-grid-tile
            >
            <hr
              style="margin-left: 10%;
            margin-right: 10%;
            margin-top: 4%;"
            />
          </div>
          <ng-template #blankSlot>
            <mat-grid-tile class="flex-item"></mat-grid-tile>
          </ng-template>
          <mat-grid-tile style="margin-top: 0%;">{{
            examData.s_wiuid
          }}</mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;">{{
            examData.s_name
          }}</mat-grid-tile>

          <mat-grid-tile style="margin-top: 0%;"
            >{{ examData.courseName }}({{
              examData.course_short
            }})</mat-grid-tile
          >
          <mat-grid-tile style="margin-top: 0%;"
            >Tutor {{ examData.cid }}</mat-grid-tile
          >
          <mat-grid-tile style="margin-top: 0%;"
            ><input
              type="checkbox"
              style="height: 15px;
              width: 15px;"
              (click)="StudentEntry('uncheck', examData.id, 'checkIn')"
              *ngIf="examData.checkIn != null"
              checked/>
            <input
              type="checkbox"
              style="height: 15px;
              width: 15px;"
              (click)="StudentEntry('check', examData.id, 'checkIn')"
              *ngIf="examData.checkIn == null || examData.checkIn == ''"/>
            {{ examData.checkIn
            }}<span
              ><img
                src="assets/imgs/pencil.png"
                style="height:20px;margin-left: 10px;"
                uk-toggle="target: #editCheckIn"
                (click)="EditCheckIn(examData.id)"/></span
          ></mat-grid-tile>
          <mat-grid-tile style="margin-top: 0%;"
            ><input
              type="checkbox"
              style="height: 15px;
              width: 15px;"
              (click)="StudentEntry('uncheck', examData.id, 'chckOut')"
              *ngIf="examData.checkOut != null"
              checked/>
            <input
              type="checkbox"
              style="height: 15px;
              width: 15px;"
              (click)="StudentEntry('check', examData.id, 'checkOut')"
              *ngIf="examData.checkOut == null || examData.checkIn == ''"/>
            {{ examData.checkOut
            }}<span
              ><img
                src="assets/imgs/pencil.png"
                style="height:20px;margin-left: 10px; "
                uk-toggle="target: #editCheckOut"
                (click)="EditCheckIn(examData.id)"/></span
          ></mat-grid-tile>
          <mat-grid-tile
            class="flex-item"
            matRipple
            [matRippleColor]="myColor"
            uk-toggle="target: #my-id"
            (click)="DeleteExamSchedule(examData.id)"
          >
            <img
              data-src="https://image.flaticon.com/icons/svg/395/395848.svg"
              width="20px"
              height="20px"
              uk-img
          /></mat-grid-tile>

          <div id="my-id" uk-modal>
            <div
              class="uk-modal-dialog uk-modal-body"
              style="width:33%;border-radius:10px"
            >
              <h2 class="uk-modal-title" style="font-size:20px">
                Do You really Want to Delete?
              </h2>

              <p class="uk-text-right">
                <button
                  class="uk-button uk-button-default uk-modal-close"
                  type="button"
                >
                  Cancel
                </button>
                <button
                  class="uk-button uk-button-default uk-modal-close"
                  style="color:white; background: #673AB7"
                  (click)="DeleteExamSchedule_Popup()"
                  type="button"
                >
                  Yes
                </button>
              </p>
            </div>
          </div>

          <div id="editCheckIn" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">
                Please Enter CheckIn Time (24 Hours Fomat)
              </h2>
              <div style="text-align:center">
                <input
                  class="uk-input uk-form-width-xsmall"
                  type="number"
                  placeholder="Hr"
                  style="width: 11%;"
                  [(ngModel)]="CheckInHr"
                />
                <input
                  class="uk-input uk-form-width-xsmall"
                  type="number"
                  placeholder="Min"
                  style="width: 11%;"
                  [(ngModel)]="CheckInMin"
                />
              </div>

              <p
                style="text-align:center; font-family: monospace;
                          color: black;   margin-top: 4px;"
              >
                <span>Hour</span
                ><span style="    margin-left: 17px;">: Minute</span>
              </p>
              <p class="uk-text-right">
                <button
                  class="uk-button uk-button-default uk-modal-close"
                  type="button"
                >
                  Cancel
                </button>
                <button
                  class="uk-button uk-button-primary uk-modal-close"
                  (click)="EditCheckInPopUpConfirm()"
                  type="button"
                >
                  Save
                </button>
              </p>
            </div>
          </div>
          <div id="editCheckOut" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">
                Please Enter CheckOut Time (24 Hours Format)
              </h2>
              <div style="text-align:center">
                <input
                  class="uk-input uk-form-width-xsmall"
                  type="number"
                  placeholder="Hr"
                  style="width: 11%;"
                  [(ngModel)]="CheckOutHr"
                />
                <input
                  class="uk-input uk-form-width-xsmall"
                  type="number"
                  placeholder="Min"
                  style="width: 11%;"
                  [(ngModel)]="CheckOutMin"
                />
              </div>

              <p
                style="text-align:center; font-family: monospace;
                          color: black;   margin-top: 4px;"
              >
                <span>Hour</span
                ><span style="    margin-left: 17px;">: Minute</span>
              </p>
              <p class="uk-text-right">
                <button
                  class="uk-button uk-button-default uk-modal-close"
                  type="button"
                >
                  Cancel
                </button>
                <button
                  class="uk-button uk-button-primary uk-modal-close"
                  (click)="EditCheckOutPopUpConfirm()"
                  type="button"
                >
                  Save
                </button>
              </p>
            </div>
          </div>
        </mat-grid-list>
      </div>
    </div>
  </mat-card>
</div>
