<h3 style="text-align: center;">
  Tutoring Notes<br /><span style="font-weight: 100;
      font-size: 20px;">{{ DateToSearch }}</span>
</h3>

<table style="width:100%">
  <tr>
    <th class="headerCol">Course Name</th>
    <th class="headerCol">Exam Type</th>
    <th class="headerCol">Notes</th>
    <th class="headerCol">Count</th>
  </tr>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <tr *ngFor="let notes of FilterNoteDetails">
    <th>
      <span style="font-weight: 100;
            color: #0000008a;">{{ notes.courseName }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
            color: #0000008a;">{{ notes.examType }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
              color: #0000008a;">{{ notes.note }}</span>
    </th>
    <th>
      <span style="font-weight: 100;
              color: #0000008a;">{{ notes.count }}</span>
    </th>
  </tr>
</table>