<hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 4%;" />
<div class="container">
  <h1>Application Access</h1>
  <p>Please add the authorized users for the Math Tutoring application.</p>
  <hr />

  <label for="email"><b>Email:</b></label>
  <input type="text" placeholder="Enter email" name="role:" value="{{ email }}" [(ngModel)]="email" />
  <label for="ecom"><b>Ecom:</b></label>
  <input type="text" placeholder="Enter Ecom id" name="ecom:" value="{{ ecom }}" [(ngModel)]="ecom" />

  <label for="cars">Role:</label>
  <select type="text" placeholder="Enter Ecom id" name="role:" value="{{ role }}" [(ngModel)]="role">
    <option>admin</option>
    <option>Employee</option>
    <option>Student</option>
  </select>

  <!--<label for="psw-repeat"><b>Repeat Password</b></label> 
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>  -->
  <button type="submit" class="registerbtn" (click)="accessadding(ecom)">
    ADD
  </button>
</div>

<hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 4%;" />

<hr style="margin-left: 15%;
margin-right: 15%;
margin-top: 4%;" />

<div>
  <mat-grid-list cols="5" rowHeight="1:1" rowHeight="50px" style="background: #673ab6;color: white;">
    <!-- <mat-grid-tile>Number</mat-grid-tile> -->
    <mat-grid-tile>WIU ECOM</mat-grid-tile>
    <mat-grid-tile>WIU EMAIL</mat-grid-tile>
    <mat-grid-tile>ROLE</mat-grid-tile>
    <mat-grid-tile>Delete</mat-grid-tile>
    <!-- <mat-grid-tile>Delete User</mat-grid-tile> -->
  </mat-grid-list>

  <div *ngFor="let details of data">
    <mat-grid-list class="flex-container" cols="5" rowHeight="1:1" rowHeight="50px">
      <!--  <mat-grid-tile class="flex-item">{{ details.id }}</mat-grid-tile> -->
      <!-- <mat-grid-tile class="flex-item">{{ details.id }}</mat-grid-tile> -->

      <mat-grid-tile class="flex-item">{{ details.ecom }}</mat-grid-tile>
      <mat-grid-tile class="flex-item">{{ details.email }}</mat-grid-tile>
      <mat-grid-tile class="flex-item">{{ details.role }}</mat-grid-tile>
      <mat-grid-tile class="flex-item" matRipple [matRippleColor]="myColor" uk-toggle="target: #my-id"
        (click)="Delete1(details.id)"> <img data-src="https://image.flaticon.com/icons/svg/753/753345.svg" width="20px"
          height="20px" uk-img>
      </mat-grid-tile>


      <!-- <mat-grid-tile class="flex-item"><button uk-toggle="target: #my-id" (click)="Delete1(details.id)">Delete</button> -->

    </mat-grid-list>
  </div>

  <div id="my-id" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" style="width:33%;border-radius:10px">
      <h2 class="uk-modal-title" style="font-size:20px">
        Do You really Want to Delete?
      </h2>

      <p class="uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">
          Cancel
        </button>
        <button class="uk-button uk-button-default uk-modal-close" style="color:white; background: #673AB7"
          (click)="Delete()" type="button">
          Yes
        </button>
      </p>
    </div>
  </div>
  <!-- <mat-grid-list>
    <div *ngFor="let data of getaccesslist;let i=index">
      <mat-grid-list class="flex-container" cols="5" rowHeight="1:1" rowHeight="50px" style="font-weight: 200;"
        *ngIf="data.c_title!=''" [ngStyle]="{'background':getBgColor(i)}">
        <mat-grid-tile class="flex-item">Tutor {{data.wiuid}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{data.c_title}} <br>{{data.course_short}} ({{data.c_star_id}})</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{data.c_term}}</mat-grid-tile>
        <mat-grid-tile class="flex-item">{{data.Exam}}</mat-grid-tile>

      </mat-grid-list> -->
</div>