<div style="text-align:center;">
  <span style="text-align:center;font-weight:bold">{{data.course_title}}</span><br>
  <span style="font-weight:200">Tutoring Schedule Between <br>{{data.ExamStartDate}} TO {{data.ExamEndDate}}</span>
  <hr>
  <span style="text-align:center;font-weight:bold;white-space: pre-line">Exam Note</span>
  <br>
  <span style="font-weight:200">{{note}}</span>
  <hr>
  <span style="font-weight:200">Available Dates</span>
  <hr>
  <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select">Select Tutoring Campus</label><br>
      <select class="uk-select" style="width:50%" [(ngModel)]="SelectedCampus">
          <option enabled value="Macomb">Macomb Campus</option>
         <!-- <option value="QC">QC campus</option> -->
      </select>
  </div>
  <div>
     
  <div *ngFor="let data of AvailableDates;let i=index;">
      <mat-radio-group aria-label="Select an option" [(ngModel)]="SelectedDate">
<mat-grid-list cols="1" rowHeight="1:1" rowHeight="40px">
   
      <mat-grid-tile ><mat-radio-button value="{{data}}">{{data}}</mat-radio-button></mat-grid-tile>
     
      <!-- <mat-grid-tile  *ngIf="i%2!=0"><mat-radio-button value="{{data}}">{{data}}</mat-radio-button></mat-grid-tile> -->
       <!-- <mat-grid-tile ><ng-template #other><mat-radio-button value="{{data}}">{{AvailableDates[i]}}</mat-radio-button></ng-template></mat-grid-tile> -->
  </mat-grid-list>
</mat-radio-group>

  </div>
  <mat-radio-button value="{{data}}"> Other:  <input class="uk-input uk-form-width-medium" type="text" placeholder="Enter Valid Date" value="{{SelectedDate}}" [(ngModel)]='SelectedDate'></mat-radio-button>
  <div style="color:#9a9a9a">Format.(YYYY/M/D)</div>
</div>
<br>
<mat-grid-list cols="2" rowHeight="1:1" rowHeight="40px">
    <mat-grid-tile ><button mat-raised-button (click)="CancelBtn()">Cancel</button></mat-grid-tile>
    <mat-grid-tile ><button mat-raised-button (click)="CheckSeatAvailable(SelectedDate)"  color="primary">Check Seat Availability</button></mat-grid-tile>
</mat-grid-list>
<br>
<div *ngIf="SeatAvailable==1">
<hr>
<span style="font-weight:200">Seat Available On Date {{SelectedDate}}</span>
<hr>
<mat-grid-list cols="3" rowHeight="1:1" rowHeight="50px" style="    background: #673ab6;
color: white;">
  <mat-grid-tile>Tutor Time</mat-grid-tile>
  <mat-grid-tile>Seat Available</mat-grid-tile>
  <mat-grid-tile>Book Tutor Seat</mat-grid-tile>
 
</mat-grid-list>
<div *ngFor="let data of ExamTimeSlot;let i =index">
  
<mat-grid-list cols="3" rowHeight="1:1" rowHeight="50px" style="font-weight: 200;" *ngIf="CheckSlot(data.StartTime,data.EndTime)==1">
  <mat-grid-tile >{{data.StartTime}} TO {{data.EndTime}}</mat-grid-tile>
  <mat-grid-tile [ngStyle]="{'background':getSeatColor(data.Seat)}">{{data.Seat}}</mat-grid-tile>
  <mat-grid-tile ><button mat-raised-button  style="color:#009688" (click)=BookStudentExamSlot(data.StartTime,data.EndTime,SelectedDate)>Book Slot</button></mat-grid-tile>
</mat-grid-list>



</div>
<hr >
<!-- <mat-checkbox (change)="addprop1($event)">Do you want Insert different Time Record!</mat-checkbox> -->
<div class="uk-margin">
  <p>Enter Start and End time Manually</p>
  <input class="uk-input uk-form-width-medium" type="text" placeholder="Start Time" style="width:20%" [(ngModel)]="startTime_Manual"> TO 
  <span style="margin-left: 20px;"><input class="uk-input uk-form-width-medium" type="text" placeholder="End Time" style="width:20%" [(ngModel)]="endTime_Manual"> </span>
  <button mat-raised-button color="primary" style="margin-left: 10px" (click)="ManualTimeSave(SelectedDate)">Save</button>
</div>
</div>

</div>