<mat-grid-list cols="4" rowHeight="1:1" rowHeight="150px" style="margin-right:10%">
  <mat-grid-tile>
    <mat-card matRipple
      style="    left: 7%; margin-top: 10px;width: 60%;height: 100px;  text-align: center;   margin: 0px 0%;"
      (click)="SetDisplayData('holiday')">

      <div>

        <img src="https://image.flaticon.com/icons/svg/1306/1306104.svg" style="width: 50px;
          height: 50px;
          float: left;">
        <p style="    font-size: 18px;
          font-family: initial;">University Holidays</p>
        <p style="    font-size: 12px;
          text-align: center;
          margin-top: -15px;color: #00000087;">Check and Enter Upcoming Holiday details</p>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple
      style="    left: 7%; margin-top: 10px;width: 60%;height: 100px; text-align: center;   margin: 0px 0%;"
      (click)="SetDisplayData('seats')">

      <div>
        <img src="https://image.flaticon.com/icons/svg/1306/1306064.svg" style="width: 50px;
              height: 50px;
              float: left;">
        <p style="    font-size: 18px;
              font-family: initial;">Tutoring Seat Adjustment</p>
        <p style="    font-size: 12px;
              text-align: center;
              margin-top: -15px;color: #00000087;">Could modify seats availability</p>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card matRipple
      style="    left: 7%; margin-top: 10px;width: 60%;height: 100px;  text-align: center;  margin: 0px 0%;"
      (click)="SetDisplayData('examtime')">

      <div>
        <div>
          <img src="https://image.flaticon.com/icons/svg/1306/1306128.svg" style="width: 50px;
                        height: 50px;
                        float: left;">
          <p style="    font-size: 18px;
                        font-family: initial;">Daily Tutoring Time Limit</p>
          <p style="    font-size: 12px;
                        text-align: center;
                        margin-top: -15px;color: #00000087;">Check and Enter Daily Tutoring Time depends on Days</p>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
      <mat-card matRipple
        style="    left: 7%; margin-top: 10px;width: 60%;height: 100px;  text-align: center;  margin: 0px 0%;"
        (click)="SetDisplayData('Lunchtime')">
  
        <div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/1473/1473280.svg" style="width: 50px;
                          height: 50px;
                          float: left;">
            <p style="    font-size: 18px;
                          font-family: initial;">Lunch Time </p>
            <p style="    font-size: 12px;
                          text-align: center;
                          margin-top: -15px;color: #00000087;">Changes Daily Lunch Time</p>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br>
<div *ngIf="displayData=='holiday'">
  <mat-card style="width:50%;left: 22%;    text-align: center;">
    <p>Enter Holiday Information</p>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]='Picker'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field style="text-align: center;">

      <input matInput placeholder="Reason Of Holiday" [(ngModel)]="reason">

    </mat-form-field>
    <br>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="saveHolidaysData()">Add</button>
  </mat-card>
  <br>
  <div>

    <mat-card style=" width: 60%; left: 17%;">
    <mat-grid-list cols="4" rowHeight="1:1" rowHeight="50px" style=" background: #3ab67f;
  color: white;">
      <mat-grid-tile>No</mat-grid-tile>
      <mat-grid-tile>Off Date</mat-grid-tile>
      <mat-grid-tile>Reason</mat-grid-tile>
      <mat-grid-tile>Cancel</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="1:1" rowHeight="40px" 
      *ngFor="let holiday of o_datesAre;let i=index">
      <mat-grid-tile>{{i+1}}</mat-grid-tile>
      <mat-grid-tile>{{holiday.day}}/{{holiday.month}}/{{holiday.year}}</mat-grid-tile>
      <mat-grid-tile>{{holiday.reason}}</mat-grid-tile>
      <mat-grid-tile (click)="DeleteHoliday(holiday.examDate)"><img
          src="https://image.flaticon.com/icons/svg/753/753345.svg" style="    width: 13%;"></mat-grid-tile>
      <hr>
    </mat-grid-list>
  </mat-card>
  </div>
</div>
<div *ngIf="displayData=='seats'">
  <mat-card style="width:50%;left: 15%;    text-align: center;">
    <p>Enter Tutoring Seat Availability</p>
    <mat-form-field style="text-align: center;">
      <input matInput placeholder="Enter Tutoring Seats" [(ngModel)]="seats">
    </mat-form-field>
    <br>
    <p style="color:#8a8885">Current Seats Are: <span style="font-size:30px"> {{Oldseats}} </span>Seats</p>
    <br>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="SaveSeats()">Save</button>
  </mat-card>
</div>
<div *ngIf="displayData=='examtime'">
  <mat-card style="width:50%;left: 15%;    text-align: center;">
    <p>Enter Daily Tutoring Time Limit</p>

    <p style="color:#8a8885">Tutoring Start Time: <span style="font-size:30px" (click)="OpenStartClock()"
        matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
        {{E_StartTime}} </span>
      End Time: <span style="font-size:30px" (click)="OpenEndClock" (click)='OpenEndClock()'
        matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
        {{E_EndTime}} </span></p>
    <br>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="SaveExamTime()">Save</button>
  </mat-card>
  <br>
  <mat-card style="width:50%;left: 15%;    text-align: center;">
    <p style="font-size:20px">Block Reservation</p>
    <p>Make seats unavailable for a given time and day</p>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]='Picker'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p style="color:#8a8885">Tutoring Start Time: 
      <input class="uk-input uk-form-width-small" type="text" placeholder="StartTime"  (click)="OpenOnDateStartClock()" value="{{ED_StartTime}}">
      <!-- <span style="font-size:30px" (click)="OpenStartClock()"
        matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
        {{ED_StartTime}} </span> -->
     End Time:  <!-- <span style="font-size:30px" (click)="OpenEndClock" (click)='OpenEndClock()'
        matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
        {{ED_EndTime}} </span> -->
        <input class="uk-input uk-form-width-small" type="text" placeholder="EndTime"  (click)="OpenOnDateEndClock()" value="{{ED_EndTime}}"></p>
    <br>
    <button style="margin-left: 20px" mat-raised-button color="primary" (click)="SaveDateExamTime()" >Save</button>
  </mat-card>
  <br>
  <br>
  <div>

    <mat-card style=" width: 60%; left: 15%;">
    <mat-grid-list cols="5" rowHeight="1:1" rowHeight="50px" style=" background: #3ab67f;
  color: white;">
      <mat-grid-tile>No.</mat-grid-tile>
      <mat-grid-tile>Date</mat-grid-tile>
      <mat-grid-tile>Start Time</mat-grid-tile>
      <mat-grid-tile>End Time</mat-grid-tile>
      <mat-grid-tile>Delete</mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="5" rowHeight="1:1" rowHeight="40px" 
      *ngFor="let data of onDateExamTimeOrder;let i=index">
      <mat-grid-tile>{{i+1}}</mat-grid-tile>
      <mat-grid-tile>{{data.day}}/{{data.month}}/{{data.year}}</mat-grid-tile>
      <mat-grid-tile>{{data.StartTime}}</mat-grid-tile>
      <mat-grid-tile>{{data.EndTime}}</mat-grid-tile>
      <mat-grid-tile (click)="DeleteOnDateExamTime(data.examDate)"><img
          src="https://image.flaticon.com/icons/svg/753/753345.svg" style="    width: 13%;"></mat-grid-tile>
      <hr>
    </mat-grid-list>
  </mat-card>
  
</div>
</div>
<div *ngIf="displayData=='Lunchtime'">
    <mat-card style="width:50%;left: 15%;    text-align: center;">
      <p>Change Daily Lunch Time</p>
  
      <p style="color:#8a8885">Current Lunch Time Between: <span style="font-size:30px" (click)="OpenStartLunchClock()"
          matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
          {{L_StartTime}} </span>
        To: <span style="font-size:30px" (click)="OpenEndClock" (click)='OpenEndLunchClock()'
          matTooltip="Click To Select Time" matTooltipClass="example-tooltip-red" matTooltipHideDelay="4000">
          {{L_EndTime}} </span></p>
      <br>
      <button style="margin-left: 20px" mat-raised-button color="primary" (click)="SaveLunchTime()">Save</button>
    </mat-card>
  </div>